<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" required />
        <mat-error *ngIf="signupForm.get('firstName')?.hasError('required')"
          >First Name is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" required />
        <mat-error *ngIf="signupForm.get('lastName')?.hasError('required')"
          >Last Name is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required />
        <mat-error *ngIf="signupForm.get('username')?.hasError('required')"
          >Username is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
        <mat-error *ngIf="signupForm.get('password')?.hasError('required')"
          >Password is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-field">
      <mat-form-field appearance="fill">
        <mat-label>Contact Number</mat-label>
        <input matInput formControlName="contactNumber" required />
        <mat-error *ngIf="signupForm.get('contactNumber')?.hasError('required')"
          >Contact Number is required</mat-error
        >
      </mat-form-field>
    </div>

    <div class="form-field">
      <button mat-raised-button color="primary" type="submit">Sign Up</button>
    </div>
  </form>
</div>
