/* payment-form.component.css */
.payment-form-container {
  background-image: url('/assets/food_delivery.jpg'); /* Direct image URL from Unsplash */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Make the container full height of the viewport */
}

form {
  width: 300px; /* Set the width of the form */
}

mat-form-field {
  width: 100%;
  margin-bottom: 20px; /* Add spacing between input fields */
}

button {
  width: 100%;
}
